@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');
* {margin: 0; padding: 0; box-sizing: border-box; overflow: hidden;}

html
{
	background-image: url(../img/pow-star.png);
}

h1
{
	font-size: 80px;
	color: DarkRed;
}

div
{
	font-family: 'Stick', sans-serif;
	font-size: 60px;
	text-align: center;
}

p
{
	background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red, red);   -webkit-background-clip: text;
   color: transparent;
}